API_URL=https://api.external.test/
HOME_URL=https://external.test/
SSO_URL=https://sso.external.test/
SSO_REALM=simva
CLIENT_ID=uadventure
ACTIVITY_ID=<ACTIVITY_ID>
STUDY_ID=<STUDY_ID>
#DEBUG=http*
HAR_FILE_PATH=./har_file.har
DURATION_MIN=1
ARRIVAL_RATE=10
DEFAULT_THINK_SEC=30
MAX_THINK_SEC=60
MAX_VUSER=90
TIMEOUT=60